@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply from-violet-100 to-white bg-gradient-to-bl;
}

/* width */
.tier-scrollbar::-webkit-scrollbar {
    height: 6px;
}

.tier-scrollbar {
    overflow-x: overlay;
}

/* Track */
.tier-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-300 rounded-md;
}

/* Handle */
.tier-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-md;
    background: #888;
}

/* Handle on hover */
.tier-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
